.floatContainer{
	border: 1px solid black;
	padding: 20px;
	width: 200px;
}
.floatingElement {
	float: left;
}
/*лучший вариант для регулирования елементов с использованием float*/
.clearfix::after {
	content:"";
	display: block;
	clear:both;
}