.wrap {
	width: 80%;
	margin: 30px auto 0;
	border: 2px solid black;
	padding: 20px;
}
.item {
	width: 100px;
	height: 100px;
	border: 2px solid red;
}
.relative {
	position: relative;
	left:-100px;
	top:100px;
	background-color: springgreen;
}
.absolute {
	position: absolute;
	left:-50px;
	top:-50px;
	background-color: violet;
}
.fixed {
	position: fixed;
	top:calc(50% - 50px);
	left:calc(50% - 50px);
	background-color: purple;
}

.sticky {
	width: 400px;
	height: 200px;
	overflow-y: scroll;
}
.sticky h3{
	position:sticky;
	top:0;
	left:0;
	width: 100%;
	background-color: white;
}