html, body {
	width: 1280px;
	height: 1626px;
	margin: 0 auto;
}
.container{
	position: relative;
	background: #FFFFFF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 25.5px;
    text-align: center;
}

li {
	display: inline;
}

li a {
	color: #ff0000;
	text-decoration: none;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	letter-spacing: 2.7px;
	text-transform: uppercase;
}



