body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
.slogan-section-bg {
  height: 1012px;
  width: 100vw;
  background-image: url("../images/section-1\(header\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.header-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}
.header {
  margin: 0 auto;
  max-width: 1160px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav-link {
  margin-right: 21px;
  color: rgba(255, 255, 255, 0.6);
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.header-nav-link:last-child {
  margin-right: 0;
}
.header-nav-link:hover {
  color: rgba(24, 207, 171, 1);
  padding-bottom: 48px;
  border-bottom: 2px solid rgb(24, 207, 171);
}
.container {
  width: 1160px;
  border-radius: 0px;
  margin: auto;
}
.slogan {
  margin-top: 264px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-family: Montserrat;
  font-size: 35px;
}
.slogan-descript {
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.slogan-descript-green {
  color: rgb(24, 207, 171);
}
.slogan-main {
  font-size: 78px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.slogan-btn-wrapper {
  margin-top: 129px;
  display: flex;
  justify-content: center;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
}
.btn {
  color: #fff;
  border-radius: 7px;
  box-sizing: border-box;
  height: 68px;
  width: 168px;
  background-color: #18cfab;
  margin-right: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 5px solid #fff;
}
.btn__blue {
  background-color: #00cbf6;
}
.benefits {
  border-top: 10px solid #fff;
  display: flex;
  color: #18cfab;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}
.benefit {
  height: 20vw;
  width: 25%;
  background-color: #1c2a33;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.benefit:nth-child(even) {
  background-color: #18cfab;
  color: #fff;
}
.benefit-img {
  margin-bottom: 47px;
}
.benefit:nth-child(even) > .benefit-img {
  margin-bottom: 66px;
}

.section-title {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  margin-top: 83px;
  position: relative;
}
.section-title::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 79px;
  left: 46%;
  top: 55px;
  background-color: #00cbf6;
}
.section-title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 79px;
  left: 48%;
  top: 60px;
  background-color: #00cbf6;
}
.service-tabs {
  margin-top: 101px;
}
.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 27px;
}
.tab-title {
  width: 16.66%;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: #f2f2f2;
  border: 1px solid #d2d3d3;
  border-left-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
}

.tab-title:first-child {
  border-left-color: #d2d3d3;
}

.active:first-child {
  border-left-color: #18cfab;
}

.tab-title:hover {
  border-color: #18cfab;
}
.active {
  border-color: #18cfab;
  background-color: #18cfab;
  color: #fff;
}
.tabs-content {
  display: flex;
  margin-bottom: 91px;
}
.tab-content {
  display: none;
}
.tab-content-text {
  margin-left: 15px;
  font-size: 14px;
  line-height: 24px;
  color: #717171;
}
.active-tab-content {
  display: flex;
}
.call-to-action {
  background-image: url(/images/Layer\ 21\ 1.png);
  height: 476px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.call-to-action-block {
  text-align: center;
}
.call-to-action-slogan {
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  color: #18cfab;
  text-transform: uppercase;
}
.call-to-action-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  color: #d8d8d8;
  margin-top: 13px;
}
.active-work {
  border-color: #18cfab;
  color: #18cfab;
}
.works {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-load {
  color: #fff;
  border-radius: 7px;
  box-sizing: border-box;
  height: 68px;
  width: 168px;
  background-color: #18cfab;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 42px;
}
.btn-load::before {
  content: "+";
  font-size: 23px;
  margin-right: 15px;
}
#img1 {
  /* background: url(/images/raw1/Layer\ 24.png); */
  height: 211px;
  width: 285px;
}
#img1:hover {
  /* display: none; */
  background: #00cbf6;
  height: 211px;
  width: 285px;
}
